
.btn-user{
    background-image: url(
    './images/person.png');
    background-size: cover;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
}

.btn-user:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#manager-account{
    width: 300px;
    margin-left: 70%;
}

#header-account{
    margin-left: 32%;
}

#name-account{
    width: 100%;
    text-align: center;
}

#img-account{
    border: 1px solid;
    margin-left: 30%;
    width: 100px;
    height: 100px;
}

#change{
    margin-left: 26%;
}

.btn{
    margin: auto;
}

a{
    font-size: 20px;
}

li{
    margin: auto;
    padding-left: 80px;
}